@model ADSBackend.Models.ConfigurationViewModels.ConfigurationViewModel

@{
    ViewData["Title"] = "Configuration";
}

<div class="ibox">
    <div class="ibox-title">
        <h1>Configuration</h1>
    </div>
    <div class="ibox-content">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>SMTP Server</h2>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="SMTP_HOST" class="control-label"></label>
                        <input asp-for="SMTP_HOST" class="form-control" />
                        <span asp-validation-for="SMTP_HOST" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="SMTP_PORT" class="control-label"></label>
                        <input asp-for="SMTP_PORT" class="form-control" />
                        <span asp-validation-for="SMTP_PORT" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SMTP_USER" class="control-label"></label>
                        <input asp-for="SMTP_USER" class="form-control" />
                        <span asp-validation-for="SMTP_USER" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SMTP_PASSWORD" class="control-label"></label>
                        <input type="password" class="form-control" id="SMTP_PASSWORD" name="SMTP_PASSWORD" value="@Model.SMTP_PASSWORD" autocomplete="nope" />
                        <span asp-validation-for="SMTP_PASSWORD" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
