@model ADSBackend.Models.Match

@{


}


<div class="ibox">
    <div class="ibox-title"><h4>Chess Match: @Model.HomeSchool.ShortName vs @Model.AwaySchool.ShortName</h4></div>
    <div class="ibox-content">
        @if (!Model.MatchStarted && (!Model.AwayRosterLocked && !Model.HomeRosterLocked))
        {
            <div class="alert alert-danger text-center">
                This match cannot begin until both home and away rosters are set up and locked. <br /><br />
                <a class="btn btn-w-m btn-danger" asp-controller="SchoolMatches" asp-action="MatchSetup" asp-route-id="@Model.MatchId">Set Up Match Roster</a>
            </div>
        }
        else if (!Model.MatchStarted)
        {
            <div class="alert alert-warning">
                Both home and away rosters have been locked for this match.  Changes can still be made to rosters up until the match is officially started by clicking the "Start Match" button below.
                <a class="btn btn-w-m btn-danger" asp-controller="SchoolMatches" asp-action="MatchSetup" asp-route-id="@Model.MatchId">Set Up Match Roster</a>
            </div>

            <button class="btn btn-primary dim" type="button"><i class="fa fa-play"></i> Begin Match</button>

        }
        else
        {

        }
        <button class="btn btn-primary" type="button"><i class="fa fa-play"></i> Begin Match</button>
    </div>
</div>
