@model ADSBackend.Models.School

@{
    Layout = null;
}

@Model.AdvisorName,
<br />
<p>
    Thanks for joining epcchess.com!  In order to get started you will need to
    sign into your school by using the appropriate join code.  After you join
    your school I will turn your account into a school advisor so you will have
    complete control over the @Model.Name team for the duration of the season.
</p>
<p>
    Here is the @Model.Name school join code that you will need to distribute to
    all of your players:
</p>
<p>
    Join Code: <strong>@Model.JoinCode</strong>
</p>
<p>
    <strong>Please do not publicly share this join code!</strong>
    <br /><br />
</p>
<p>
    <h4>Before the start of the season:</h4>
    <ol>
        <li>
            Go into Team Manager : Players and assign each of your players their
            starting rating for the season (1600 for board 1, 1500 for board 2, etc.)
        </li>
    </ol>
</p>

<p>
    <h4>Before each match:</h4>
    <ol>
        <li>Go into Team Manager : Matches and click on the match for the day</li>
        <li>Click the link to set up your roster</li>
        <li>Click the tab for your team</li>
        <li>
            Set up your team roster by dragging all participating players into their
            correct lineup location
        </li>
        <li>Lock your roster</li>
        <li>When both rosters are locked you can click "Begin Match" on the main
        match page -- this is final and will allow players to play the match</li>
        <li>
            When the match is complete make sure you click "End Match" to lock in
            the final match results.
        </li>
    </ol>
</p>

<p>
    <h4>Here are some additional helpful videos:</h4>
    <ul>
        <li><a href="https://www.youtube.com/watch?v=PU2LDHoN3f0">How to Set Up a Match</a></li>
        <li><a href="https://www.youtube.com/watch?v=AdKupMyzx7E">How to Sign Up</a></li>
    </ul>
</p>

<p>
    If you have any difficulties please don't hesitate to email me.  Good luck
    for the season and if you ever experience a technical glitch you can always
    fall back on setting up an individual match between two players directly and
    then record the results.
</p>
<br />
---
<br />
Michael Tanczos
<br />
Easton Area High School
