
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 20px; 
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    padding: 4px;
}


.chessrating {
    font-size: 9px;
    font-color: #999999;
}

.boardcardheader {
    font-size: 1.3em;
    font-weight: bolder;
    margin-right: 20px;
    vertical-align: middle;
}

.boardcardresult {
    font-size: 1.8em;
    font-weight: bolder;
    vertical-align: middle;
}