@{
    ViewData["Title"] = "League Rules";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-controller="Admin" asp-action="Index">Home</a>
    </li>
    <li class="breadcrumb-item active">
        <strong>League Rules</strong>
    </li>
</ol>

<h2>@ViewData["Title"]</h2>

<div class="row">
<div class="col-lg-12">
<div class="ibox">
<div class="ibox-content">


<p><strong>EASTERN PENNSYLVANIA CONFERENCE</strong></p>
<p><strong>Chess League Rules</strong></p>
<p>Updated February 2020</p>
<p><strong>Section I:</strong> Chess Rules will be observed from the Official Chess Handbook (USCF) with the following additions:</p>
<ol>
    <li>Staunton sets must be used.</li>
    <li>Time clocks are to be used. Time control will be game 30 or 60 minutes (coaches discretion). Clocks will be set at 5:30 so that time expiration is 6:00.</li>
    <li>A player must make his move <em>before</em> hitting the clock.</li>
    <li>A player may record his game; <em>this is optional</em>. </li>
    <ol>
        <li>If one team annotates, then both teams must annotate.</li>
    </ol>
    <li>Reminder: Touch move rule applies to all matches</li>
</ol>
<p><strong>Section II:</strong> There will be seven (7) players representing a Varsity team. The players shall be students in grades 9-12. Ninth graders must be scheduled to attend the high school they are representing. By coaches&rsquo; consensus, players in grade 8 are eligible to participate only when there are insufficient board players from grades 9-12. Any position beyond board 7 is used for Junior Varsity. This is optional, pending the number of players available for each school. 1st board will begin the season rated at 1600, 2nd board will begin at 1500, and so on, with 7th board being rated at 1000. 8th position, if applicable, will begin with a rank of 1000, and all additional boards will begin with 900. </p>
<p><strong>Section III:</strong> The visiting team will have white on odd numbered boards.</p>
<p><strong>Section IV:</strong> The team&rsquo;s better players are to play the top boards (1, 2, 3&hellip;) with the weaker players on the lower boards (&hellip;5, 6, 7). If a board is forfeited, it is to be the bottom board(s). </p>
<p><strong>Section V:</strong> When two teams meet to play a match, lineups will be exchanged between coaches. </p>
<p><strong>Section VI:</strong> Coaches shall develop a lineup prior to the start of the season and assign ratings according to <strong>Section II.</strong> The lineup of a team may change in the following manner:</p>
<ol>
    <li>Once someone has played a match, a player may advance ahead or drop below only one board position from the previous lineup in which the player was involved. </li>
    <li>Exception: A player playing their first match of the season may play the board position assigned to that player by the coach prior to the start of the season.</li>
</ol>
<p><strong>Section VII:</strong> If a team plays a match with an illegal lineup, the team forfeits the <em>match</em>.</p>
<p><strong>Section VIII</strong>: One point will be awarded for each game won, &frac12; point for a draw.</p>
<p><strong>Section IX</strong>: If a match is postponed (due to weather, transportation, illness of the coach, or school closing for the day), the coaches shall try to find a suitable date for the make-up match. This may be done via email or telephone.</p>
<p><strong>Section X</strong>: If a delay in arrival is anticipated, the visiting team should tell the host team as soon as possible. If no call is made, the host team may start the clocks at 4:00pm.</p>
<p><strong>Section XI</strong>: Match Conduct - Once the match begins, there will be quiet at all times in the room of play. There will be no discussion about any teammate&rsquo;s game. Players may not utilize electronic devices during the course of their game.</p>
<p><strong>Section XII</strong>: All rules will be in effect and enforced.</p>
<p><strong>Section XIII:</strong> The rating of a player who wins his/her game by forfeit because their opponent did not show up to play shall increase by 16 points (the amount that would be awarded had they beaten a player of equal strength). The player who did not show up to play will <em>not </em>lose any points from their rating. </p>
<p><strong>Section XIV: </strong>&nbsp;If two or more teams are tied for the League Championship at the end of the league play, a playoff(s) shall be conducted.</p>
<ol>
    <li>All previous rules will be observed. </li>
    <li>If the result of the match is a tie, the contest will be replayed according to championship rules set forth in<strong> Section XV part d</strong>.</li>
</ol>
<p><strong>Section XV: </strong>&nbsp;Championship Rules: The following rules shall be in effect for all championship matches:</p>
<ol>
    <li>Both teams will use standard USCF notation for games</li>
    <li>Time clocks will be used. Time control will be game 60. Clocks will be set at 5:00 so that time expiration is at 6:00</li>
    <li>Home/Away team will be determined in advance by league schedule and board colors shall follow guidelines set in <strong>Section III</strong>.</li>
    <li>In the event of a tie, both teams will play a sequence of sudden-victory matches under the following rules until a winner is decided:&nbsp;</li>
    <ol>
        <li>Time control will be game 5</li>
        <li>Players will switch colors from their previous game</li>
    </ol>
</ol>
<p><br /><br /></p>
<p><strong>Insufficient Losing Chances Rule</strong>:&nbsp;</p>
<p>In a sudden death time control, a player with less than five minutes of remaining time may stop the clock and ask the director to declare the game a draw on the grounds that the player has insufficient losing chances. The draw shall be awarded if the director believes that the player would have little chance to lose the position against his opponent with both having ample time. The director may decide:</p>
<ol>
    <li>The claim is clearly correct, and award the draw.</li>
    <li>The claim is clearly incorrect; deny the claim and subtract one minute from the claimant&rsquo;s remaining time.</li>
    <li>The claim is too close to call, and ask the players to resume the game. Under this option, the director may watch the game with the intent of upholding the claim if the opponent is making no progress. A director who is watching a game after the claim may declare the game a draw even if the original claimant&rsquo;s flag falls.</li>
    <li>The claim is too close to call, and instruct the claimant to make a later re-claim if the opponent is making no progress. </li>
</ol>
<p><br /><br /></p>
<p>The game is drawn when one of the following endings exists as of the most recently determined legal move, in which the possibility of a win is excluded for either side.&nbsp;</p>
<ol>
    <li>King vs. king</li>
    <li>King vs. king with bishop or knight</li>
    <li>King and bishop vs. king and bishop, with both bishops on diagonals of the same color.&nbsp;</li>
    <li>No legal moves leading to checkmate by opponent. There are no legal moves that could lead to the player being checkmated by the opponent.&nbsp;</li>
    <li>Insufficient material to win on time. The player with insufficient material must offer the opponent a draw prior to time expiring. The game is then drawn even when a player exceeds the time limit if one of the following conditions exists as of the most recently determined legal move. </li>
</ol>
<ol>
    <li>Lone king. Opponent has only a lone king.</li>
    <li>King and bishop or king and knight. Opponent has only king and bishop or king and knight, and does not have a forced win.</li>
    <li>King and two knights. Opponent has only king and two knights, the player has no pawns, and opponent does not have a forced win.</li>
</ol>
    


</div>
</div>
</div>
</div>


@section Styles {
    <style type="text/css">
        h3 {
            font-size: 20px;
            padding-top: 20px;
            font-weight: 800;
        }

        p {
            padding-bottom: 10px;
        }
    </style>
}