@{
    ViewData["Title"] = "Virtual League Rules";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-controller="Admin" asp-action="Index">Home</a>
    </li>
    <li class="breadcrumb-item active">
        <strong>Virtual League Rules</strong>
    </li>
</ol>

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">

                <h3>Eastern Pennsylvania Virtual Chess League Rules</h3>

                <p>Each player will provide their <a href="https://lichess.org/">Lichess.org</a> username to their coach by email. Each player will provide their actual <u><em>name</em></u> and <u><em>email</em></u> to their coach.</p>
                <p>Lichess.org accounts are free and are <u><em>required</em></u> to participate in virtual play</p>

                <ol>
                    <li>Time Control: 30 minutes each side, no delay</li>
                    <li>Games will be conducted on Lichess.org</li>
                    <li>Start time: 4:00 PM</li>
                </ol>

                <h2>How to execute matches</h2>

                <p><strong>The Home Team player will challenge the Away Team player to their board numbers. Any problems with connection or internet will result in the game restarting or it has to be rescheduled.</strong></p>
                <p>The Home Team will challenge the away team by first locating their assigned opponent (issued by their Chess Coach), navigating to the appropriate match on "<a asp-controller="Play">My Team Matches</a>", finding the current team match for the day, and clicking on the button to challenge opponent. </p>
                <p>If the Away Team does not receive a challenge from their opponent, email both the home and away coaches for assistance.</p>
                <p>If the <b>Away Team Player</b> does not accept the invite within 30 minutes after the 4:00 p.m. scheduled start time, the game will be considered a loss unless prearrangement was made to reschedule the game at a different time.</p>
                <p>The 1st board will play as Black and subsequent boards will alternate colors 1-7. JV 1st board starts of as Black and subsequent boards will alternate 1-5</p>
                <p>Mouse slips/inaccurate play will be considered as intentional moves by the computer and cannot be undone.</p>

                <h2>General Rules</h2>
                <p>There are no notations as the computer automatically notates for you. A win will count for 1 point and a draw will count for &frac12; point.</p>
                <p>After completing matches, players will report their results to their respective coaches.</p>
                <p>Using third party software or chess engines are prohibited. If it is determined that irregularities have occurred, both home and away coaches will review the game and determine the outcome/result if the win stands.</p>
                <p>Draws/ insufficient winning chances will automatically be determined by the computer.</p>
                
                
                <h2>Eastern Pennsylvania Virtual Chess League Rules</h2>
                <p><strong>Section </strong>I: Chess Rules will be observed from the EPC Rules with the following additions:</p>
                <ol>
                    <li>
                        <p>The games will be 30 minutes each, no delay. Games will start at 4:00.</p>
                    </li>
                    <li>
                        <p>Games will be played on Lichess.org. Accounts on Lichess.org are free and are required to participate in virtual play.</p>
                    </li>
                    <li>
                        <p>The players will not need to notate their games, as the computer automatically saves notations of every game.</p>
                    </li>
                    <li>
                        <p>The Home Team will challenge the Away Team in correspondence to their board numbers. The players will issue their challenges by:</p>
                        <ul>
                            <li>
                                <p>Locating their assigned, corresponding challenger (issued by their Chess Coach)</p>
                            </li>
                            <li>
                                <p>Going to the My Matches page</p>
                            </li>
                            <li>
                                <p>Selecting the scheduled match</p>
                            </li>
                            <li>
                                <p>Finding their board position on the list</p>
                            </li>
                            <li>
                                <p>Clicking challenge opponent button to challenge them</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>If the Away Team does not receive a challenge from their opponent, they should contact their coach and send an email to the opposing team's coach to receive clarification.</p>
                    </li>
                    <li>
                        <p>If the Away Team does not accept the invite within 30 minutes after the 4:00 p.m. scheduled start time, the match will be considered a loss for their team unless a prearrangement was made to reschedule the match to a different time.</p>
                    </li>
                    <li>
                        <p>If the Away team accepts the invite after 4:00 but still within the 30 minute window, the game shall continue as normal with the full 30 minute time control.</p>
                    </li>
                    <li>
                        <p>After completing matches, players will report their results to their coaches.</p>
                    </li>
                    <li>
                        <p>Any problems with connection or internet will result in the game being restarted or rescheduled.</p>
                    </li>
                    <li>
                        <p>Using third party software, chess engines, or any outside assistance is prohibited. If it has been determined that irregularities have occurred, both the home and away coaches will review the game and determine the outcome/result of the game.</p>
                    </li>
                    <li>
                        <p>Each student should provide their coach with their Lichess.org username, and their actual name.</p>
                    </li>
                </ol>
                <p><strong>Section II: </strong>There will be seven (7) players representing a Varsity team . The players shall be students in grades 9-12. Ninth graders must be scheduled to attend the high school they are representing. By coaches' consensus, players in grade 8 are eligible to participate only when there are insufficient board players from grades 9-12. Any position beyond board 7 is used for Junior Varsity. This is optional, pending the number of players available for each school. 1st board will begin the season rated at 1600, 2nd board will begin at 1500, and so on, with 7th board being rated at 1000. 8th position, if applicable, will begin with a rank of 1000, and all additional boards will begin with 900.</p>
                <p><strong>Section III</strong>: The home team will have black on odd numbered boards for both Varsity and JV. Colors will be alternated for subsequent boards.</p>
                <p><strong>Section IV:</strong> The team's better players are to play the top boards (1, 2, 3... ) with the weaker players on the lower boards(... 5, 6, 7). If a board is forfeited, it is to be the bottom board(s).</p>
                <p><strong>Section VI: </strong>Coaches shall develop a lineup prior to the start of the season and assign ratings according to <strong>Section </strong>II. The lineup of a team may change in the following manner:</p>
                <ol>
                    <li>
                        <p>Once someone has played a match, a player may advance ahead or drop below only one board position from the previous lineup in which the player was involved.</p>
                    </li>
                    <li>
                        <p>Exception: A player playing their first match of the season may play the board position assigned to that player by the coach prior to the start of the season.</p>
                    </li>
                </ol>
                <p><strong>Section VII</strong>: If a team plays a match with an illegal lineup, the team forfeits the match.</p>
                <p><strong>Section VIII</strong>: One point will be awarded for each game won, &frac12; point for a draw.</p>
                <p><strong>Section IX: </strong>All rules will be in effect and enforced.</p>
                <p><strong>Section X: </strong>The rating of a player who wins his/her game by forfeit because their opponent did not show up to play shall increase by 16 points (the amount that would be awarded had they beaten a player of equal strength). The player who did not show up to play will not lose any points from their rating.</p>
                <p><strong>Section XI: </strong>Championship Rules: The following rules shall be in effect for all championship matches:</p>
                <ol>
                    <li>
                        <p>Time control will be 30 minutes each side, no delay.</p>
                    </li>
                    <li>
                        <p>Home/Away teams will be determined in advance by league schedule and board colors shall follow guidelines set in Section Ill.</p>
                    </li>
                </ol>

                <p><strong>Section XII</strong>: The Host System, Software and Hardware for Online Play.</p>
                <h4>a. Use of Other Chess Software.</h4>
                <p>While a game is in progress, other chess playing software or game analysis software shall not be used by either player, regardless of whether the software is resident on the player's device or being accessed through the internet or another external system.</p>

                <p><strong>Section XIII</strong>: Graphical Display Required.</p>
                <p>Every players' game platform shall have a graphical display with the screen being of a size the player is comfortable using. Displays may be color or monochrome and can use touch-screen technology.</p>
                <ol>
                    <li>
                        <strong>Orientation and Color of the Graphical Chess Board.</strong>
                        <p>The graphical chess board shall be oriented in the same manner described in over-the-board play. Each player's color shall be at the bottom of the display, with the opponent's color at the top. The names (or User IDs) of both players shall be shown adjacent to the board. The service provider's default settings for the color of the squares shall parallel the specifications of color. It is permitted for the numbers (1-8) and letters (A to H) to appear along the perimeter of the chessboard. If the service provider allows a player to select alternate color schemes or to customize the squares, those options shall not change the opponent's settings.</p>
                    </li>
                    <li>
                        <strong>Graphical Representation and Color of the Pieces.</strong>
                    </li>
                </ol>
                <p>It shall be obvious from the colors used for the pieces who is playing White and who is playing Black. The display shall show the pieces in figurine form in a manner similar to Staunton classic style chess pieces.If the service provider allows a player to select alternate pieces or to customize the pieces, those options shall not change the opponent's settings.</p>
                
                <p><strong>Section XIV</strong>: Hardware for Making Moves.</p>
                <p>To make their moves or select menu options, players may use voice activation, a keyboard, mouse, trackball, stylus, their finger, or a similar pointing device. During play the two players opposing one another, or an authorized game assistant for a player with a disability are the only persons permitted to use the move-input hardware.</p>
                
                <p><strong>Section XV</strong>: Online Chess Clock.</p>
                <p>Both players must use the same time control.</p>
                <ol>
                    <li>
                        <p>Time Keeping.</p>
                        <p>The official time (chess clock) for each player shall be the time displayed on each player's screen, console or device as maintained by the host system used for the online event. Players are not allowed to use separate chess clocks at their locations to keep the official time for their games.</p>
                    </li>
                    <li>
                        <p>Time Forfeit.</p>
                    </li>
                </ol>
                <p>The flag fall on the player's screen, console or device, as transmitted by the host site, shall be considered official. Most host systems will automatically award the game result once one of the players' flags has fallen.</p>
                <p><strong>Section XVI</strong>: The Drawn Game.</p>
                <ol>
                    <li>
                        <p>Drawn Positions.</p>
                        <p>Many service providers automatically rule games drawn under several game situations, or they alert the player that the position is drawn. Such assistance is allowed in online play because all players are using the same host system/game interface and, as a result, are afforded the same assistance during their games. When a service provider's automatic rulings differ from US Chess rules, organizers and directors shall include these differences in their pre-event publicity.</p>
                    </li>
                    <li>
                        <p>Drawn by Agreement.</p>
                    </li>
                </ol>
                <p>Online games may be drawn upon agreement by both players.</p>

                <p><strong>Section XVII</strong>: Illegal Moves.</p>
                <p>Host systems shall be programmed to not allow players to make illegal moves. A piece picked-up and placed on an illegal square shall be returned automatically by the host software to its square at the start of the move.</p>
                
                <p><strong>Section XVIII</strong>: Touch-Move.</p>
                <p>In online games, players are <strong>not allowed to claim </strong>touch-move violations.</p>

                <p><strong>Section XIX: Pre-Moves.</strong></p>
                <p>A pre-move occurs when a player makes a move on the opponent's time before the opponent has completed their previous move. If a player makes a legal pre-move, the host system shall execute it immediately upon completion of the opponent's move. An executed pre-move shall be considered a completed move. If a player's pre-move is not legal under the Official <em>Rules </em>of Chess, the host system shall not allow it to occur.</p>

                <p><strong>Section XX</strong>: Automatic Promotion.</p>
                <p>Automatic promotion occurs when a player moves a pawn to the last rank and the host system automatically promotes the pawn to a Queen. The player's move is completed when the piece appears on the chessboard.</p>
                <p>a. Variation: Host System not Programmed for Automatic Promotion.</p>
                <p>If the host system is not programmed for automatic promotion, the system shall present the player a choice of pieces to which the player can legally promote the pawn. The host system shall not allow the player to change the selected piece after it appears on the promotion square.</p>

                <p><strong>Section XXI</strong>: Mouse-Slips.</p>
                <p>A mouse slip occurs when a legal move transmitted by the player is not the move the player intended to make. In online play, mouse-slips shall be considered <strong>completed </strong>moves.</p>

                <p><strong>Section XXII</strong>: Previous Moves Visible to Both Players.</p>
                <p>At a minimum, the host system shall indicate each player's last move on their display screen. The host system also shall provide each player an option to display all previous moves in the game.</p>
                
                <p>a. Manual Notation cannot be used to Make Claims.</p>
                <p>Players are allowed to take notation during their games; however, they are not allowed to use their notation to make claims during online play.</p>
                
                <p><strong>Section XXIII</strong>: Players with Disabilities.</p>
                <p>Rule 35, Rules for Disabled and Assisted Players applies to online chess.</p>
                <p>a. Game Assistants.</p>
                <p>Players with disabilities may participate in online events using a "Game Assistant" (GA) to make their moves. Such players may either observe the on-screen board, or use a separate chessboard, to determine and announce their moves to the GA.</p>

            </div>
        </div>
    </div>
</div>


@section Styles {
    <style type="text/css">

        h2 {
            margin-bottom: 25px;
            font-size: 22px;
            padding-top: 25px;
            font-weight: 900;
            border-bottom: solid 1px #999;
            padding-bottom: 10px;
        }

        h3 {
            font-size: 20px;
            padding-top: 20px;
            font-weight: 800;
        }

        p {
            padding-bottom: 10px;
        }
    </style>
}