@model ADSBackend.Models.PlayViewModels.MatchViewModel

@{

    ViewData["Title"] = Model.Match.HomeSchool.Name + " vs " + Model.Match.AwaySchool.Name;


}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-controller="Admin" asp-action="Index">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a asp-controller="Play" asp-action="Index">My Team Matches</a>
    </li>
    <li class="breadcrumb-item active">
        <strong>@ViewData["Title"]</strong>
    </li>
</ol>

<h2>Match: @ViewData["Title"]</h2>


@section Scripts {

    <script src="~/lib/signalr/signalr.min.js"></script>
    
    <script type="text/javascript">

        var connection = new signalR.HubConnectionBuilder().withUrl("/gamehub").build();

        connection.on("UpdateMatches", function (gameJson) {
        });

        async function start() {
            try {
                await connection.start();
                //await connection.invoke("JoinMatch", 3);

                console.log("SignalR Connected.");
            } catch (err) {
                console.log(err);
                setTimeout(start, 5000);
            }
        };

        connection.onclose(start);

// Start the connection.
        start();

        /*
        document.getElementById("sendButton").addEventListener("click", function (event) {
            var user = document.getElementById("userInput").value;
            var message = document.getElementById("messageInput").value;
            connection.invoke("SendMessage", user, message).catch(function (err) {
                return console.error(err.toString());
            });
            event.preventDefault();
        });
        */
    </script>
} 