@model ADSBackend.Models.PlayViewModels.MatchViewModel

@{

    ViewData["Title"] = Model.Match.HomeSchool.Name + " vs " + Model.Match.AwaySchool.Name;


}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-controller="Admin" asp-action="Index">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a asp-controller="Play" asp-action="Index">My Team Matches</a>
    </li>
    <li class="breadcrumb-item active">
        <strong>@ViewData["Title"]</strong>
    </li>
</ol>

<h2>@ViewData["Title"]</h2>