@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Http
@using ADSBackend.Util
@using ADSBackend.Services

@inject ADSBackend.Data.ApplicationDbContext  _context
@inject IHttpContextAccessor HttpContextAccessor
@inject DataService _dataService

@{
    /*
    var seasons = await _context.Season.Select(x => x)
                                          .OrderByDescending(x => x.StartDate)
                                          .ToListAsync();

    var defaultSeason = seasons.FirstOrDefault(x => x.StartDate <= DateTime.Now && x.EndDate >= DateTime.Now)?.SeasonId ?? 0;

    var seasonId = HttpContextAccessor.HttpContext.Session.GetInt32("SeasonId") ?? defaultSeason;
    var seasonsSelect = new SelectList(seasons, "SeasonId", "Name", seasonId);

    HttpContextAccessor.HttpContext.Session.SetInt32("SeasonId", seasonId);
    */
    var seasonId = await _dataService.GetCurrentSeasonId();
    var seasonsSelect = await _dataService.GetSeasonSelectList(seasonId);
    
}
<form asp-controller="SeasonSwitcher" asp-action="Switch" method="post" id="seasonSwitch" class="navbar-right">
        <li>
            <a href="">Current Season: </a>
        </li>
        <li style="margin-right: 60px;">
            <select name="seasonId" asp-items="@seasonsSelect" onchange="$.post('/SeasonSwitcher/Switch/' + $('select[name=seasonId]').val(), function (data) { location.reload(); })" class="form-control"></select>
        </li>
</form>