@model ADSBackend.Models.Division

@{
    ViewData["Title"] = "Edit";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-controller="Admin" asp-action="Index">Home</a>
    </li>
    <li>
        <a asp-controller="Divisions" asp-action="Index">Divisions</a>
    </li>
    <li class="breadcrumb-item active">
        <strong>@Model.Name</strong>
    </li>
</ol>

<h2>Edit</h2>

<div class="row">
    <div class="ibox">
        <div class="ibox-title"><h4>Division</h4></div>
        <div class="ibox-content">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="DivisionId"/>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-default"/>
                    </div>
                </form>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
